* {
  box-sizing: border-box;
}

body{
  background-color: #FFEB3B;
  overflow-x: hidden;
  font-family: 'Dosis', sans-serif;
}

/*nav.navbar.navbar-default {
  position: fixed;
  z-index: 1;
}*/

.container {
  background-color: #2196F3;
  font-family: 'Dosis', sans-serif;
}

.navbar-header{
  background: #2196F3;
}

.navbar-default {
  background: #2196F3;
  border-color: transparent;
}

.navbar-default .navbar-brand {
  color: white;
  font-size: 21px;
  font-weight: 500;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

/*#header{
  background-color: #2196F3;
  text-align: center;
  padding: 5px;
  margin-top: -10px;
  color: white;
  box-shadow: 1px 1px 1px 1px #42A5F5;
  margin-left: -7px;
  margin-right: -7px;
  font-family: 'Dosis', sans-serif;

}*/

#favorite{
color: #EEEEEE;
margin-left: 300px;
margin-bottom: -10px;
margin-top: -15px;
font-size: 30px;
background-color:clear;
}

#favorite:hover{
color: #FF1744;
}

a:link{
  text-decoration: none;
  text-decoration-color: black;

}

a:visited{
  color: black;
}
a:active{
  text-decoration-color: black;
}

#bs-nav-demo{
  background: white;
}
.navbar-collapse collapse in{
  background: white;
}

.mdl-demo main > .mdl-layout__tab-panel {
  padding: 0px 8px 8px 8px;
}

.mdl-demo .mdl-layout__content section:not(:last-of-type) {
  position: relative;
  margin-bottom: 48px;
}

.mdl-demo section.section--center {
  max-width: 860px;
}

.mdl-demo .mdl-card {
  height: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mdl-demo .mdl-card > * {
  height: auto;
}

.mdl-demo .mdl-card .mdl-card__supporting-text {
  margin: 20px;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0;
  color: inherit;
  width: calc(100% - 60px);
  font-size: 20px;
  font-weight: 500;
  color: black;
}

.mdl-demo.mdl-demo .mdl-card__supporting-text h4 {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  font-weight: lighter;
}

.mdl-demo .mdl-card__actions {
  margin: 0;
  padding: 4px 40px;
  color: inherit;
}

.mdl-demo .mdl-card__actions a {
  color: #00BCD4;
  margin-left: 85%;
}

.mdl-demo .mdl-card__supporting-text + .mdl-card__actions {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.mdl-button--fab.mdl-button--colored {
  background-color: #2196F3;
}
.mdl-button--fab {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  z-index: 900;
}
#artForm{
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: white; /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.artFormCont{
  position: relative;
    background-color: white;
    margin-left: 10%;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    height: 48%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
.artFormHeader{
  padding: 2px 16px;
  background-color: #FFEB3B;
  color: white;
}

.artFormBody{
  padding: 2px 16px;
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#publicar{
  background-color: #2196F3;
  color: white;
  margin-left: 35%;
  margin-top: 5%;
  border: 0px;
  border-radius: 5px;
  padding: 5px 10px;
}

input{
  margin-left: 10%;
  border-color: #2196F3;
}

textarea{
  margin-left: 10%;
  border-color: #2196F3;
}
